<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="QueueName" value="DemoQueue"/>
    <add key="BusEndpoint" value="activemq:tcp://localhost:61616"/>
    <add key="PassiveBusEndpoint" value=""/>
    <add key="UserName" value="admin"/>
    <add key="Password" value="admin"/>
  </appSettings> 
</configuration>
